h1 {
		text-align: center;
		font-family: sans-serif;
		font-weight: normal;
		text-transform: uppercase;
		color: #468966;
		border-bottom: 1px solid #ffffff;
		margin-top: 30px;
		}
h2, h3, h4, h5, h6 {
		text-align: left;
		font-family: sans-serif;
		font-weight: normal;
		text-transform: uppercase;
		color: #468966;
		border-bottom: 1px solid #ffffff;
		margin-top: 30px;
		}
.test {
	border: 2px solid #8E2800;
	padding: 10px;
	background: #f9c667;
	background: -moz-linear-gradient(top,  #f9c667 0%, #f79621 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621));
	background: -webkit-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: -o-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: -ms-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: linear-gradient(to bottom,  #f9c667 0%,#f79621 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );

}


@viewport {width:device-width; zoom:1;}

* {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

body {
	margin:1em;
	background:url(halo3.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	font-family: sans-serif;
	}
	
img {
	max-width:100%
	}

	
@media only screen and (min-width:400px) {
	nav {float:left; width:20%;}
	#main {float:left; width 60%;}
	}

@media only screen and (min-width:800px) {
	img {float:right; max-width:40%; margin:0 0 1em 2em;}
}



